.container-conversas{
    width: 250px;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.input-pesquisa-conversas{
    width: 180px;
    height: 30px;
    margin-inline: 25px;
    margin-block: 20px;
    background-color: transparent;
    color: white;
    border: none;
    outline: 1px solid white;
    border-radius: 10px;
    padding-inline: 10px;
}

.amigo-conversa{
    width: 210px;
    height: 40px;
    min-height: 40px;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.text-amigos-chat{
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}