.container-buttons-top-profile{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-top-profile{
    height: 30px;
    background-color: transparent;
    border: none;
    outline: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 10px;
    color: white;
}