.loader{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: loader 1s linear infinite;
    margin: 30px;
}


@keyframes loader {
    from {
        scale: 0.5;
        opacity: 1;
    }

    to {
        scale: 2.5;
        opacity: 0;
    }
}